 .text{
    
    color: #fff;
    width: 800px;
    height: auto;
    line-height: 14px;
    margin-top: 0px;
    
 }
 .h-text{
    max-width: 600px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
   
 }
 .ptext1{
    max-width: 600px;
    margin: auto;

}
.ptext2{
    max-width: 600px;
    margin: auto;

}
.ptext3{
    max-width: 600px;
    margin: auto;

}

 .btn1{

    float: left;
    margin-left: 100px;
    padding: 5px 5px;
    
    border: none;
    background: #fff;
    color: #e1323d;
    cursor: pointer;
    width: 15%;
    font-size: 1rem;
    line-height: 1.9rem;
    border-radius: 4px;
    padding: 0px 10px;
   
    
    border-radius:  5px;
	/*color: hsl(356, 74%, 54%);
	
    padding: 10px 10px;
    border-radius:  5px;
    background-color: white;
    border: 2px solid #e7e7e7;
    max-width: 600px;
    margin: auto;
   */
 }
  .btn2{
  
    margin-left: 20px;
    float: left;
    height: 33px;
    
    
    
    border: 20cm;
    background: #e1323d;
    color: #fff;
    cursor: pointer;
    width: 20%;
    font-size: 1rem;
    line-height: 1.8rem;
    border-radius: 5px;
   /* flex-basis: 100%;
    max-width: 100%;
    color:#fff;
    padding: 10px 10px;
    border-radius:  5px;
    background-color:#e1323d;
    border: 2px solid #e7e7e7;
    max-width: 600px;
    margin: auto;
    cursor: pointer;
    display: inline-block;
    border: none;
    font-size: 16px;
    margin: 10px 10px;
    border: 2px solid #e1323d;
    border-radius: 5px;*/
 }

 p{
    font-family: Arial, Helvetica, sans-serif;
 }
