<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text">
    <div class="h-text">
    <h4>
        We are a community based help service!
    </h4>
   </div>
   <div class="ptext1">
       <p>Our product solves the problem with the lack of fast, context-specific and most importantly - untampered help out there.</p>
   </div>
   <div class="ptext2">
    <p>We solve that problem for our users by providing them an instant and specific help from people that may have already walked the same path and bought the same product.</p>
</div>
<div class="ptext3">
    <p>So next time, when you visit a site and you can't find a review or an answer that satisfies your information needs, you can open up our chat widget and ask a non-formal question to one of our helpers.</p>
</div>
<button class="btn1"> TRY IT FREE</button>
    <button class="btn2">SIGN UP</button>

</div>

    
    
</body>
</html>
