input[type=text], select{
    
  width: 70%;
  padding: 12px 20px;
  margin: 8px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
.search{
    padding:13ex ;
    border-radius: 5px;
    
    
}